.custom-button {
    min-width: 10.3125rem;
    width: auto;
    height: 3.125rem;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 1.9rem 0 1.9rem;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Fira sans';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  
    @media screen  and (max-width:760px){
     // display: block;
      opacity:0.9;
  
    }
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    &.google-sign-in {
        background-color: #4285f4;
        color: white;
    
        &:hover {
          background-color: #357ae8;
          border: none;
        }
      }
    
      &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;
    
        &:hover {
          background-color: black;
          color: white;
          border: none;
        }
      }
    }
    
